/* Avatar.css */
.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  